@import "../../../../theme.scss";

:host {
    display: block;
    position: relative;
}

.timeline {
    cursor: pointer;
    height: 1em;
    padding-top: 0.5em;

    .line {
        height: 1px;
        background: $outer-space;
    }
}

.timeline-dot {
    cursor: pointer;
    background-color: $outer-space;
    width: 1px;
    height: 1em;
    position: absolute;
}

.timeline-time {
    font-size: 0.8em;
    margin-top: 0.5em;
}
