/* SCSS RGB */
$indigo-dye: rgba(0, 72, 124, 1);
$argentinian-blue: rgba(75, 179, 253, 1);
$paynes-gray: rgba(62, 102, 128, 1);
$dodger-blue: rgba(4, 150, 255, 1);
$honolulu-blue: rgba(2, 123, 206, 1);
$platinum: rgba(216, 219, 226, 1);
$outer-space: rgba(54, 73, 78, 1);
$redwood: rgba(175, 93, 99, 1);
$zomp: rgba(67, 154, 134, 1);
$persian-green: rgba(27, 153, 139, 1);
